
*{
    margin: 0;
    padding: 0;
}

nav{
     height: 100px;
}

nav ul {

    
    display: flex;
    background-color: rgb(68, 255, 0);
}

ul li{
    list-style: none;
    padding: 0 23px;
    font-size: 30px;
}