*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* background-color: rgba(0, 91, 84, 0.5); */

}

.to-do-list{
  height: 90vh;
  width: 70vw;
  background: linear-gradient(90deg,rgba(140, 209, 202, 1) 0%, rgba(252, 232, 232, 1) 100%);

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  gap: 20px;

  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgb(225, 232, 233);
}

.project-name{
  color: rgb(255, 255, 255);
  font-size:40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(255, 255, 255); */
}

.newTask-add{
  display: flex;
  justify-content: center;
  align-items: center;
  gap :5px;
}

.newTask-add input{
  height: 35px;
  width: 40vw;
  font-size: 20px;
  font-size:20px;
  color: rgb(6, 116, 126);
  font-family:monospace;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 20px;

  box-shadow: 1px 2px 5px;
  outline: none;
  cursor: pointer;
}

/* Start  */

.pendingTask-Container{
  height: 500px;
}


.pending{
  color: rgb(255, 255, 255);
  background-color: rgb(239, 132, 10);
  width: 200px;
  border-left: 4px solid rgb(148, 53, 6);

  text-indent:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;

  font-family: cursive;
}



.newTask-add input::placeholder{
  font-size:20px;
  color: rgb(6, 116, 126);
  font-family:monospace;
 border: none;
}

.newTask-add .add-task{
   height: 35px;
  width: 10vw;
  font-size: 20px;
  font-size:20px;
  color: rgb(6, 116, 126);
  font-family:monospace;
  border: none;
    border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  box-shadow: 1px 2px 5px;
  cursor: pointer;
}

li{

  background-color: rgb(4, 4, 4,0.4);
  height: 40px;
  width: 55vw;
  /* background: linear-gradient(90deg,rgba(8, 8, 115, 1) 0%, rgba(60, 218, 230, 1) 0%, rgba(166, 254, 255, 1) 100%); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;

  border: none;
  border-radius: 5px;
}

li:hover{
  background-color: rgb(4, 4, 4,0.6);
  height: 40px;
  width: 55vw;
  /* background: linear-gradient(90deg,rgba(8, 8, 115, 1) 0%, rgba(60, 218, 230, 1) 0%, rgba(166, 254, 255, 1) 100%); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;

  border: none;
  border-radius: 5px;

}
.task-crud{
  height: 40px;
  
  /* background-color: rgba(252, 252, 252, 0.4); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;
  
}

.task{
  color: white;
  text-indent: 20px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:initial; 
}


.task-crud{
  height: 32px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.deleteTask{
  height: inherit;
  width: 70px;
   background-color: red;
   color: white;
   border: none;
   border-radius: 20px;
  cursor: pointer;

  
}

.completedTask{
  height: inherit;
  width: 70px;
   background-color: rgb(24, 237, 88);
   color: white;
   border: none;
   border-radius: 20px;
  cursor: pointer;

  
}


.completed{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 239, 48);
  width: 200px;
  border-left: 4px solid rgb(6, 189, 21);

  text-indent:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;

  font-family: cursive;
}


.moveTask{
  height: inherit;
  font-size: 25px;
  background-color:inherit;
  border: none;
  color: aqua;
  cursor: pointer;
}