/* Module css */

/* In this Button folder there was a button component 

we have just used it as the Module-CSS

THIS WAS COMPONENT CODE => [
import styles from './Button.module.css';

function Button(){
    return (
        <button className={styles.button}> Click Me</button>
    )
]

export default Button;

)


*/


/* 
.button{
  height:40px;
  width: 120px;
  border:none;
  border-radius: 5px;
  color: aliceblue;
  background-color: black;
  font-size: 17px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */


