 /* CSS */

 .student{
  background-color: rgb(255, 0, 0);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;

  gap:20px;
 }  