.container{
  color: rgb(4, 59, 108);
  border: 10px solid rgb(0, 2, 90);
padding: 50px;
}


.container h1{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600; 
}
