html, body{
    height: 100%;
    width: 100%;
}

.button{
    padding: 23px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}


.row{
    margin: 8px 0;
}

.row input{
    font-size: 20px;
    padding: 10px 0px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 10px;
}