

.text-center{
    text-align: center;
}

.container{
    margin: 10px 400px;
    padding: 20px;
    width: 290px;
    border: 1px solid black;
    border-radius: 30px;
}
.bg-clr{
    background-color: rgb(255, 34, 0);
}

.mx-auto{
    margin:auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

