
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 206, 209);

}
.container{
    height: 70vh;
    width: 80vw;
    background-color:rgb(255, 255, 255);
    color: white;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 3px 40px rgb(169, 159, 159);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.counter{
    font-size: 120px;
    color: black;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap :20px;
}


.btn{
    height: 40px;
    width: 120px;
    color: white;
    background-color: black;
    border: none;
    border-radius:5px;
    font-size: larger;
    font-family: cursive;
    font-weight: 500;
}