body{
  background-image: url(./assets/new-img.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.clock-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 70vw;
  background-color: rgba(246, 245, 241, 0.3);

  border: none;
  border-radius: 10px;
  
}

.clock-container-title{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.clock-container-title h1{
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900; 
  color: rgb(216, 110, 87);
}

.clock-container-title p{
  font-size: large;
  font-family: cursive;
  font-style: oblique;
  color: rgb(95, 73, 58);
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  color: rgba(244, 239, 239, 0.8);  
}
