*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    justify-content: right;
    background:lightblue;
    height: 60px;
    align-items: center;
}

    ul li{
        list-style: none;
        margin: 0 50px;
        color: white;
    }   