*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display:flex ;
  align-items: center;
  justify-content: center;
}

.stopWatch{
  height: 80vh;
  width: 40vw;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  margin-top: 30px;
  background:  radial-gradient(circle,rgba(238, 174, 202, 1) 33%, rgba(148, 187, 233, 1) 97%);

  border: none;
  border-radius: 10px;
}

.digital-watch{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.displayWatch{
  font-size: 90px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 1px 2px 1px rgb(9, 73, 91);
}

.controlls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controlls button{
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px rgb(185, 185, 185);
  cursor: pointer;
  background-color: rgb(234, 236, 236);


  font-size: larger;
  font-family:monospace;
  font-weight: 600;
  color: rgb(59, 58, 58);
 
}

.controlls button:hover{
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px rgb(185, 185, 185);
  cursor: pointer;
  background-color: rgb(255, 255, 255);


  font-size: larger;
  font-family:monospace;
  font-weight: 600;
  color: rgb(59, 58, 58);
}



.lap-history{
  min-height: 30vh;
  width: auto;
  /* background-color:bisque ; */

  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.lap-history ul{
  display: flex;
  flex-direction: row;
  column-gap: 80px;

  justify-content:end;
  align-items: center;
}

.lap-history ul h4{
  list-style: none;
   font-size: 17px;
   font-family:cursive;
   font-weight: 400;

   /* gap: 20px; */
     display: flex;
  justify-content: center;
  align-items: center;
    height: 30px;
  min-width: 70px;
   
}

.lap-history ul li{
  list-style: none;
  color: rgb(43, 46, 46);

  font-size: 14px;
  /* text-indent: 3; */
  border-radius: 20px;
  border: 1px solid rgb(60, 47, 47);
  height: 30px;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}