/*  External CSS */

/* .button{
  height:40px;
  width: 120px;
  border:none;
  border-radius: 5px;
  color: aliceblue;
  background-color: black;
  font-size: 17px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */