.card{
  background-color: rgb(54, 122, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
  padding: 20px;
  border:none;
  border-radius: 10px;
  box-shadow: 2px 3px 20px  rgb(11, 73, 167);
}

.card:hover{
 background-color: rgb(54, 122, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
  padding: 20px;
  border:none;
  border-radius: 10px;
  box-shadow: 2px 3px 20px  rgb(11, 73, 167);
 
}

.card img{
  border: none;
  border-radius: 5px; 
  
}

.description{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  width: 70vw;
}